
.ListOfStudents {
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
}
.ListOfStudents span{
   
    border: solid 1px darkblue;
    display: inline-block;
    text-align: center
}


.SpanNum{
    width: 7%;
}

.SpanPosition{
    width: 14%;
}
.SpanEmail{
    width: 35%;
}
.SpanName{
    width: 36%;
}

.ListOfStudents div{
    margin-left: 10px;
}

.CreateStudentFormButt{
    display: flex;
    justify-content: center;
}